.horizontal-image-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
  }
  
  .horizontal-image-list img {
    max-width: 100%;
  }

  .horizontal-image-list button{
    background-color: rgba(0,0,0,0);
    color: none;
    border: none;
  }

  .horizontal-image-list button:focus,
  button:focus-visible{
    border: none;
    outline: none;
    outline-offset: none;
  }

  
  .image-gallery {
    display: flex;
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      transform: translateX(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .floating-animation {
    animation: floating 3s ease-in-out infinite;
  }
  
