@font-face {
    font-family: 'MiFuente'; /* Nombre de la fuente */
    src: url('../../fonts/RAINYDAYS.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

@font-face {
    font-family: 'Gabarito'; /* Nombre de la fuente */
    src: url('../../fonts/Gabarito-VariableFont_wght.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

.principal{
    width: 100vw;
    height: 100vh;

    h1{
        font-family: 'MiFuente', sans-serif; /* Usa la fuente en el cuerpo del documento */
        text-align: center;
        font-size: 2.5vw; /* Ajusta el tamaño de la fuente según tus preferencias */
        color: rgb(195, 0, 0);
        margin-top: 20vh;
        text-shadow: 0 0.1vw 0.2vw rgb(38, 38, 38);
    }

    h2{
        font-family: 'MiFuente', sans-serif; /* Usa la fuente en el cuerpo del documento */
        text-align: center;
        font-size: 3.4vw; /* Ajusta el tamaño de la fuente según tus preferencias */
        color: rgb(195, 0, 0);
        margin-top: 0vh;
        text-shadow: 0 0.1vw 0.2vw rgb(38, 38, 38);
    }
    
}

.secondary {
    font-family: 'Gabarito';
}
    