@font-face {
    font-family: 'MiFuente';
    src: url('../../fonts/RAINYDAYS.ttf') format('truetype');
}

@font-face {
    font-family: 'Gabarito';
    src: url('../../fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'NewTitle';
    src: url('../../fonts/kids-Magazine.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

@keyframes movement {
    0% {
        transform: translateY(-2.5vh);
        opacity: 0.5;
    }
    25% {
        transform: translateY(0vh);
        opacity: 1;
    }
    50% {
        transform: translateY(0vh);
        opacity: 0.5;
    }
    75% {
        transform: translateY(0vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-2.5vh);
        opacity: 0.5;
    }
}

.principal {
    width: 100vw;
    height: 100vh;
    animation: movement 6s ease-in-out infinite
}

.principal h1 {
    font-family: 'Bungee Inline', sans-serif;
    text-align: center;
    font-size: 3.5vw;
    color: rgb(212, 236, 255);
    margin-top: 30vh;
    text-shadow: 0 0.1vw 0.2vw rgb(38, 38, 38);
    line-height: 0vh;
}

.principal h2 {
    font-family: 'Bungee Inline', sans-serif;
    text-align: center;
    font-size: 4.5vw;
    color: rgb(255, 0, 0);
    margin-top: 0vh;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(38, 38, 38);
}

.secondary {
    font-family: 'Gabarito';
    font-size: 1.25vw;
    margin-left: 2vw;
    margin-right: 2vw;
    animation: movement 6s ease-in-out infinite
}

@media (max-width: 768px) {
    .principal h1 {
    font-size: 5.5vw;
    color: rgb(212, 236, 255);
    margin-top: 30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-shadow: 0 0.1vw 0.2vw rgb(38, 38, 38);
    line-height: 4vh;
    }

    .principal h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 7vw;
    color: rgb(192, 62, 32);
    line-height: 4vh;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(38, 38, 38);
    }

    .secondary {
    font-family: 'Gabarito';
    font-size: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    }
}

.videoContainer {
    width: 5%; /* Cambia el ancho según lo pequeño que desees el video */
    border: 5px solid white; /* Borde blanco alrededor del video */
}

.small-video-container {
    width: 50%; /* Reducir el ancho al 50% para hacer el video más pequeño */
    border: 5px solid white; /* Borde blanco alrededor del video y el reproductor */
}

.small-video {
    width: 100%; /* Haz que el video llene el ancho del contenedor */
    height: auto; /* Mantén la proporción original del video */
}


