.circular-button {
    background-color: #409CD0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white; /* Cambia el color del texto según tus preferencias */
    text-decoration: none; /* Para eliminar subrayado en caso de ser un enlace */
}
  
/* Agrega estilos adicionales según tus necesidades */
.circular-button:hover {
    background-color: #357ebd; /* Cambia el color al pasar el mouse sobre el botón */
}
  