@font-face {
    font-family: 'MiFuente'; /* Nombre de la fuente */
    src: url('../../fonts/RAINYDAYS.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

@font-face {
    font-family: 'MiFuente2'; /* Nombre de la fuente */
    src: url('../../fonts/Kids Magazine.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

@font-face {
    font-family: 'Gabarito'; /* Nombre de la fuente */
    src: url('../../fonts/Gabarito-VariableFont_wght.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Ajusta la distancia de levitación según tus preferencias */
    }
    100% {
      transform: translateY(0);
    }
}



.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: floatAnimation 2s infinite;
    h1 {
        font-family: 'Bungee Inline', sans-serif; /* Usa la fuente en el cuerpo del documento */
        font-size: 4vw;
        margin: 5vw;
        margin-top: 5.5vh;
        color: rgb(234, 175, 0);
        text-shadow: 0.1vw 0.1vw 0.1vw black;
        animation: floatAnimation 1s infinite;
    }

    p {
        font-family: 'Gabarito'; /* Usa la fuente en el cuerpo del documento */
        text-align: center;
        font-size: 2vw; /* Ajusta el tamaño de la fuente según tus preferencias */
        margin-top: 1vh;
        line-height: 1vh;
    }
    
    .secondary {
        font-family: 'Gabarito';
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 7vw;
            margin: 1vw;
            margin-top: 1vh;
        }
    }
}

.secondary {
    font-family: 'Gabarito';
    font-size: 1.25vw;
    margin-left: 2vw;
    margin-right: 2vw;
    animation: movement 6s ease-in-out infinite
}

.horizontal-image-list {
    display: flex;
    justify-content: space-between;
    width: 1px;
    height: 1px;
    margin: 100px;
    border-radius: 50%;
    animation-name: floatAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
  
