/* Estilos para el contenedor de las pills */
.pillsContainer {
  display: flex;
  justify-content: center; /* Distribuye las pills de manera uniforme */
  align-items: center;
  background-color: rgb(35, 127, 197);
  border-top-left-radius: 0.5vw;
  padding: 0.5vw;
}

/* Estilos para las pills individuales */
.pill {
  padding: 0.4vw 0.6vw;
  border-radius: 0; /* Redondea todos los lados de las pills */
  transition: background-color 0.2s ease;
}

/* Estilos para una pill activa */
.pill.active {
  background-color: #6ab1e1; /* Cambia el color de fondo cuando está activa */
  color: #fff; /* Cambia el color del texto cuando está activa */
}

.pill:not(.active):hover{
  background-color: rgb(28, 150, 198);

}

/* Redondear el lado izquierdo del primer botón */
.pill:first-child {
  border-top-left-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
}

/* Redondear el lado derecho del último botón */
.pill:last-child {
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}
