/* Welcome.module.css */
/* styles.css */
@font-face {
    font-family: 'MiFuente'; /* Nombre de la fuente */
    src: url('../../fonts/RAINYDAYS.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

.container {
    display: flex;
    font-family: 'MiFuente', sans-serif; /* Usa la fuente en el cuerpo del documento */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Esto centra el contenido verticalmente en la pantalla */
    text-align: center;
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus preferencias */
  }
  