@font-face {
    font-family: 'MiFuente'; /* Nombre de la fuente */
    src: url('../../fonts/RAINYDAYS.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

@font-face {
    font-family: 'Gabarito'; /* Nombre de la fuente */
    src: url('../../fonts/Gabarito-VariableFont_wght.ttf') format('truetype'); /* Ruta a la fuente TTF */
    /* Otros estilos, como font-weight y font-style si es necesario */
}

  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Ajusta la distancia de levitación según tus preferencias */
    }
    100% {
      transform: translateY(0);
    }
  }

  
.principal{
    width: 100vw;
    height: 100vh;
    place-items: center;
    animation: floatAnimation 2s ease-in-out infinite;
    h1{
        font-family: 'MiFuente', sans-serif; /* Usa la fuente en el cuerpo del documento */
        font-size: 7vw;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 30vh;
        margin-bottom: 2vw;
        color: rgb(255, 255, 255);
        text-shadow: 0.1vw 0.1vw 0.5vw black;
    }

    p{
        font-family: 'Gabarito'; /* Usa la fuente en el cuerpo del documento */
        text-align: center;
        font-size: 2vw; /* Ajusta el tamaño de la fuente según tus preferencias */
    }
    
}

.secondary {
    font-family: 'Gabarito';
    
}


@media (max-width: 768px) {
    .principal{
        h1{
            font-size: 14vw;
            margin: 1vw;
            margin-top: 30vh;
        }
    }
}