/* Estilos por defecto para pantallas grandes */
.principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

/* Contenedor de contenido del slider con animación de desplazamiento */
.sliderContent {
  display: flex;
  transition: transform 0.5s ease; /* Animación de desplazamiento */
}

/* Estilo de los componentes hijos */
.slider-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: white;
  transition: opacity 0.5s ease; /* Transición de opacidad */
  opacity: 0;
}

/* Clase para mostrar un componente hijo activo */
.slider-item.active {
  opacity: 1;
}

/* Botones de navegación del slider */
.boton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: aqua;
  width: 5vw;
  height: 2.5vw;
  z-index: 2; /* Coloca los botones por encima del contenido */
}

/* Estilo adicional para los botones del slider */
.sliderButton {
  right: 10px;
  /* Agrega cualquier otro estilo que desees para los botones */
}

